.bug-view{
    position : absolute;
    z-index: 1;
    width: 62vw;
    border:1px solid black;
    box-shadow: 2px 2px black;
    margin-top: 0;
    margin-left:1.5%;
    border-radius: 5px;
    float: top;
    background-color: var(--prim-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
   


}

.bug-view h1{
    min-width: 100%;
    text-align: center;
    color: black ;
    font-size: 3rem;
    padding-bottom: 20px;
    border-bottom: 1px groove white;
}

.close-btn{
    position: absolute;
    margin: 10px;
    right:0;
    top:0;
}