.container{
    padding:0;
    margin:10px;
    width: 275px;
}
.bug-card{
    background-color:rgba(0, 0, 0, 0.5);
    box-shadow:2px 2px 2px black;
    text-align: center;
    margin: 10px;
    min-width: 275px;
    min-height: 200px;
    cursor: pointer;
}
.bug-card:hover{
    transition:all 0.3s;
    transform: scale(1.05);
}