.topbar{
    overflow: hidden;
    position:fixed;
    z-index:10;
    width:80%;
    background-color: var(--prim-color);
    height: 8%;
    margin-left:20%;
    padding-left:10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.233);

}
.topbar h3{
    float: right;
    display: block;
    text-align: center;
    margin-right: 1.5%;
    
}
.topbar input[type=text] {
    float: left;
    padding: 6px;
    border: none;
    margin-top: 1.5%;
    
    font-size: 17px;
  }